

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import "css/variables.css";
@import "css/screens/index/css";
@import "css/screens/first/css";
@import "css/screens/second/css";
@import "css/screens/thrid/css";


/* notification Animation */
